 #formulario{
      border-radius: 30px 30px 30px 30px;
 }
 * {margin: 0; padding: 0px; font-family:Tahoma;}
        #divCenter { 
       
        position: center center; 
        top: 15%; 

		}
		.btn.btn-success{
			margin-top: 20px;
			width: 160px;
		}
		.form-control{
			margin-top: 20px;
			margin-bottom: 10px;
		}